<!DOCTYPE html>
<html ng-app="ShoppingListApp">
  <head>
    <meta charset="utf-8">
    <script src="../angular/angular.min.js"></script>
    <script src="app.js"></script>
    <style>body { font-size: 1.3em; }</style>
    <title>ng-repeat</title>
  </head>
  <body>
    <h1>ng-repeat</h1>
    <div ng-controller="ShoppingListController">
      <!-- Searchable Shopping List #1 -->
      <h3>Shopping List:</h3>
      <input type="text" ng-model="search">
      <ul>
        <li ng-repeat="item in shoppingList | filter : search">{{item}}</li>
      </ul>
    </div>
  </body>
</html>
